<%= form_for(@fdsafsdf) do |f| %>
  <% if @fdsafsdf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fdsafsdf.errors.count, "error") %> prohibited this fdsafsdf from being saved:</h2>

      <ul>
      <% @fdsafsdf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
