<h1>Listing fdsafsdfs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fdsafsdfs.each do |fdsafsdf| %>
      <tr>
        <td><%= link_to 'Show', fdsafsdf %></td>
        <td><%= link_to 'Edit', edit_fdsafsdf_path(fdsafsdf) %></td>
        <td><%= link_to 'Destroy', fdsafsdf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fdsafsdf', new_fdsafsdf_path %>
