<%= form_for(@asdf) do |f| %>
  <% if @asdf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asdf.errors.count, "error") %> prohibited this asdf from being saved:</h2>

      <ul>
      <% @asdf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asdf %><br>
    <%= f.text_field :asdf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
