<h1>Listing asdfs</h1>

<table>
  <thead>
    <tr>
      <th>Asdf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asdfs.each do |asdf| %>
      <tr>
        <td><%= asdf.asdf %></td>
        <td><%= link_to 'Show', asdf %></td>
        <td><%= link_to 'Edit', edit_asdf_path(asdf) %></td>
        <td><%= link_to 'Destroy', asdf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asdf', new_asdf_path %>
